<div class="well" span=12>
<%= simple_form_for :message, url: [:reply, conversation] do |f| %>
  <%= f.input :body, label: 'Reply', as: :text, input_html: { rows: "8", :style=> 'width: 1100px'} %>
 </div> 
  <div class="form-actions">
    <%= f.button :submit, 'Send message', class: 'btn-primary' %>
    <%= submit_tag 'Clear', type: :reset, class: 'btn btn-danger' %>
    <%= link_to 'Back to conversations', :conversations, class: 'btn btn-primary' %>
  </div>
<% end %>