<h1>
  <%= conversation.subject %>
</h1>
  <%= content_tag_for(:div, conversation.receipts_for(current_user), :class=> "well") do |receipt| %>
    <% message = receipt.message %>
    <p>
      <i class="icon-user"> </i> <b> <%= message.sender.username %> wrote.. </b>
    </p>
    <p>
      <%= message.body %>
    </p>
  <% end %>
<%= render 'messages/form', conversation: conversation %>