<h1><%= @user.name %></h1>
</br>
	<% if current_user == @user %>
		<p>
			<strong> My email: </strong> <%= @user.email %>
		</p>
		<p>
			<strong> Date joined: </strong> <%= @user.created_at %>
		</p>

</br>

<h4> My Wish Board</h4>

<% end %>

	<div id="pins">
	  <%= render @pins %>
	</div>

<%= will_paginate @pins %>