<h1><%= @user.name %></h1>
</br>
<p>
	<%= link_to 'Send them a message', :new_conversation, recipients: @user.username, class: "btn btn-primary" %>  HOW DO I GET THIS BUTTON TO WORK?!
</p>

	<% if current_user == @user %>
		<p>
			<strong> My email: </strong> <%= @user.email %>
		</p>
		<p>
			<strong> Date joined: </strong> <%= @user.created_at %>
		</p>

</br>

<h4> My Wish Board</h4>

<% end %>

	<div id="pins">
	  <%= render @pins %>
	</div>

<%= will_paginate @pins %>