
<section id="profilehead">
	<div class="row well">
		<div class="span2">
			<h1><%= if @user.avatar?
								image_tag @user.avatar(:small) 
							else
								image_tag "no-image.png"
   						end %></h1>
		</div>

		<div class="span8">
			<h2><%= @user.firstname %></h2>
			<%if current_user == @user %>
				<p>
					<strong> Email: </strong> <%= @user.email %>
				</p>
			<% else %>
				<p>
					<%= link_to 'Message ' + @user.firstname, new_conversation_path(:recipients => @user.username), class: "btn btn-primary" %> 
				</p>
			<% end %>
				<p>
					<strong> Member since: </strong> <%= @user.created_at.strftime("%e %b %Y") %>
				</p>

		</div>
	</div>
</section>





</br>

<h4> My Wish Board</h4>

	<div id="pins">
	  <%= render @pins %>
	</div>

<%= will_paginate @pins %>